 

Discover Gists
kberg8
 
 
Star0 
Fork0
PUBLIC
 ewuweblab / gist:7754693
Last active just now

WikiPedia RWD
Gist Detail
Revisions 7
Download Gist
Clone this gist

Embed this gist

Link to this gist

gistfile1.txt
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
/*===============
	GLOBAL
===============*/
img {
	max-width: 100%;
}
 
 
/*===============
	LAYOUT
===============*/
.container {
	background: #0FF;
	margin: 0 auto;
	width: 95%; /* 960px */
	max-width: 95%; /* 960px */
}
 
nav {
	background: #FFC;
	width: 100%; /* 960px / 960px = 100% */ 
}
 
article {
	background: #FCF;
	float: left;
	width: 66.66666666%; /* 640px / 960px = 66.66666666% */
}
 
aside {
	background: #660;
	float: left;
	width: 33.3333333%; /* 320px / 960px = 33.3333333%*/
}
 
.facts {
	background: pink;
	float: right;
	padding: 6.25%; /* 20 / 320px = */ 
	width: 50%; /* 120px / 320px = 50% */
}
 
footer {
	background: maroon;
	clear: both; 
	width: 100%; /* 960px */
}
 
 
/*===============
	NAV
===============*/
nav {
	float: left;
}
 
nav li {
	float: left;
	list-style: none;
	margin: 0 20px;
}
 
/*===============
	TYPOGRAPHY
===============*/
h1 {
	font-size: 3em; /* 48px / 16px = 3em */
}
 
h2 {
	font-size: 2.25em; /* 36px / 16px = 2.25em */
}
 
h3 {
	font-size: 1.5em; /* 24px /16px = 1.5em */ 
}
 
p {
	font-size: 1.25em; /* 20px */
	line-height: 1.25em; /* 20px */
}
 
/* All Links */ 
a {
	color: #F00;
	font-size: 1.25em; /* 20px */
}
 
footer a {
	font-size: 1em; /* 20px / 20px = 1em  */
}
 
 
/*===============
	LARGE DESKTOP
===============*/
@media screen and ( max-width: 1440px ) {
	
	body {
		background: red;	
	}
 
} /* end of Desktop */
 
/*===============
	STANDARD DESKTOP
===============*/
@media screen and ( max-width: 1280px ) {
	
	body {
		background: yellow;	
	}
	
	aside {
		text-align: center;
	}
	
	.facts {
		float: none;
		text-align: left;		
		width: 100%;
	}
 
} /* end of Stadnard Desktop */
 
 
 
/*===============
	TABLET
===============*/
@media screen and ( max-width: 768px ) {
	
	body {
		background: green;	
	}
	
	nav ul {
		margin-left: 0;
		padding: 0;
	}
	
	nav li {
		background: #0F9;
		float: none;
		margin: 2.083333333333% 0; /* 20px / 960 */
		padding: 1.5625% 0; /* 15px / 960 */
		text-align: center;
		width: inherit;
	}
 
} /* end of tablet */
 
/*===============
	PHONE
===============*/
@media screen and ( max-width: 480px ) {
	
	body {
		background: blue;	
	}
	
	aside {
		float: none;	
	}
 
} /* end of phone */
